# Python cache
__pycache__/
*.py[cod]
*.so

# OS fajlovi
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Env & Dependency folderi
.env
.venv/
*.egg-info/
dist/
build/

# Streamlit temp
.streamlit/

# Sound cache (ako koristiš neko generisanje)
*.wav.cache
# Python
__pycache__/
*.pyc

# Audio
static/audio/ambients/*
!static/audio/ambients/.gitkeep

# Local envs / OS
.venv/
.env
.DS_Store
